@import "tailwindcss";

  
@theme {
        --color-dark: #0D1117;
        --color-light: #FFFFFF;
        --color-highlight: #E3FF6A;
        --color-neonGreen: #A4FF7A;
        --color-deepBlue: #1E293B;
        --color-softGray: #8892B0;
        --color-gradient-main: linearGradient:(135deg, #1E293B 0%, #0D1117 100%)
      }