@import "tailwindcss";

  
@theme {
        --colors-dark: #0D1117;
        --colors-light: #FFFFFF;
        --colors-highlight: #E3FF6A;
        --colors-neonGreen: #A4FF7A;
        --colors-deepBlue: #1E293B;
        --colors-softGray: #8892B0;
        --color-gradient-main: linearGradient:(135deg, #1E293B 0%, #0D1117 100%)
      }